@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #070724;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 600px;
  background: #fff;
  margin: 20px;
}

.container .img-box:before {
  content: "Nike";
  position: absolute;
  top: 20px;
  left: 20px;
  color: #000;
  opacity: 0.1;
  font-size: 8em;
  font-weight: 800;
}

.container .img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #8a51b8;
}

.container .img-box img {
  position: relative;
  width: 700px;
  transform: scaleX(-1) rotate(30deg);
  left: -50px;
}

.container .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  padding: 40px;
}

.container .details h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  line-height: 0.8em;
  font-weight: bold;
  color: #444;
}

.container .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 15%;
  color: #999;
}

.container .details p {
  min-width: 85%;
  margin-left: 15%;
  color: #333;
}

.container .details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #a2a2a2;
  float: left;
}

.container .details button {
  background-color: #006dbc;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 15px 20px;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
}

.container .details button:hover {
  background-color: #237fc0;
  cursor: pointer;
}

.container .details button:active {
  background-color: #0f5c92;
}

@media (max-width: 1080px) {
  .container {
    height: auto;
  }

  .container .img-box {
    padding: 40px;
    box-sizing: border-box;
    width: 100% !important;
    height: auto;
    text-align: center;
    overflow: hidden;
  }

  .container .img-box img {
    left: initial;
    max-width: 100%;
    transition: 0.2s;
    transform: scaleX(-1) rotate(0deg);
  }

  .container .details {
    width: 100% !important;
    height: auto;
  }

  .container .details p,
  .container .details span {
    margin-left: 0 !important;
  }
}
