@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

img {
  width: 100%;
}

header {
  width: 100vw;
  height: 80px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 0 40px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 200;
}

header nav {
  -ms-grid-column-align: end;
      justify-self: end;
}

header nav i {
  color: #e7e9ec;
}

header nav a {
  color: #e7e9ec;
  text-decoration: none;
  margin: 0 24px;
}

header .burger {
  display: none;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #e7e9ec;
}

.glide {
  position: relative;
  top: -80px;
  z-index: 50;
}

.glide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glide__slide img,
.glide__slide video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-caption {
  position: absolute;
  z-index: 70;
  color: #e7e9ec;
  text-align: center;
  max-width: 60vw;
}

.slide-caption h1 {
  font-size: 54px;
  font-weight: 600;
}

.slide-caption h3 {
  font-size: 24px;
  margin: 48px 0;
}

.slide-caption.left {
  min-width: 80vw;
  text-align: left;
}

.slide-caption > * {
  opacity: 0;
}

.backdrop {
  background: rgba(42, 42, 42, 0.192);
  z-index: 60;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.explore-btn {
  padding: 14px 32px;
  background: #ee6d75;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #e7e9ec;
  font-size: 18px;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  max-width: 1180px;
  padding: 0 80px;
}

.title-about {
  font-size: 34px;
  color: #2e2e2e;
}

.title-about::after {
  content: "";
  display: block;
  width: 80%;
  height: 4px;
  background: #ee6d75;
  margin: 14px;
}

.intro {
  margin: 28px 0 60px 0;
  font-size: 18px;
  color: #727272;
}

.about-us {
  padding-bottom: 32px;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (126px)[2];
      grid-template-rows: repeat(2, 126px);
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
}

.feature {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "icon title " "icon content";
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
}

.feature i.fa {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  font-size: 34px;
  color: #ee6d75;
}

.feature-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 18px;
  color: #2e2e2e;
}
/*# sourceMappingURL=style.css.map */