$primary-color: #ee6d75;
$secondary-color: #e3e3e3;
$text-color-lightest: #e7e9ec;
$text-color-darker: #2e2e2e;
$text-color-dark: #494949;
$text-color-gray: #8b8b8b;
$text-color-dark-gray: #727272;
$text-color-light-gray: #c6c6c6;
$backdrop-color: rgba(42, 42, 42, 0.192);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

img {
    width: 100%;
}

// 導航列
header {
    // 使用100vw若出現滾動條加上max-width:100%即可解決
    width: 100vw;
    height: 80px;
    max-width: 100%;

    display: grid;
    padding: 0 40px;

    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;

    z-index: 200;

    nav {
        justify-self: end;
        i {
            color: $text-color-lightest;
        }

        a {
            color: $text-color-lightest;
            text-decoration: none;
            margin: 0 24px;
        }
    }

    .burger {
        display: none;
    }
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: $text-color-lightest;
}

// 輪播圖
.glide {
    position: relative;
    top: -80px;
    z-index: 50;
}

.glide__slide {
    // 垂直置中輪播圖的文字
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.slide-caption {
    position: absolute;
    z-index: 70;
    color: $text-color-lightest;
    text-align: center;
    max-width: 60vw;

    h1 {
        font-size: 54px;
        font-weight: 600;
    }

    h3 {
        font-size: 24px;
        margin: 48px 0;
    }

    // 第二張輪播圖的文字靠左對齊
    &.left {
        min-width: 80vw;
        text-align: left;
    }

    & > * {
        opacity: 0;
    }
}

.backdrop {
    background: $backdrop-color;
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.explore-btn {
    padding: 14px 32px;
    background: $primary-color;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: $text-color-lightest;
    font-size: 18px;
}

// 內容區域
// 通用樣式
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    justify-items: center;
    max-width: 1180px;
    padding: 0 80px;
}

.title-about {
    font-size: 34px;
    color: $text-color-darker;

    // 關於我們底下的線
    &::after {
        content: "";
        display: block;
        width: 80%;
        height: 4px;
        background: $primary-color;
        margin: 14px;
    }
}

.intro {
    margin: 28px 0 60px 0;
    font-size: 18px;
    color: $text-color-dark-gray;
}

// 關於我們
.about-us {
    padding-bottom: 32px;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 126px);
    column-gap: 5vw;
    // row-gap: 5vw;
}

.feature {
    display: grid;
    grid-template-areas:
        "icon title "
        "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;

    i.fa {
        grid-area: icon;
        font-size: 34px;
        color: $primary-color;
    }
}

.feature-title{
    grid-area: title;
    font-size: 18px;
    color: $text-color-darker;
}
