* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.container {
  width: 1200px;
  height: 960px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  counter-reset: items;
}

.item-box {
  position: relative;
  width: 18%;
  margin: 1%;
  border-radius: 4px;
  overflow: hidden;
}

.item-box .bg {
  padding-bottom: 100%;
  width: 100%;
}

.item-box .bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.item-box::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: items;
  content: counter(items);
  font-size: 30px;
  color: #cccccc;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.item-box:hover::after {
  color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}

.item-box:nth-of-type(3n) .bg {
  padding-bottom: 120%;
}

.item-box:nth-of-type(4n) .bg {
  padding-bottom: 140%;
}

.item-box:nth-of-type(5n + 1) {
  order: 1;
}
.item-box:nth-of-type(5n + 2) {
  order: 2;
}
.item-box:nth-of-type(5n + 3) {
  order: 3;
}
.item-box:nth-of-type(5n + 4) {
  order: 4;
}
.item-box:nth-of-type(5n + 5) {
  order: 5;
}
